* {
    font-family: Marker Felt, fantasy;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: white; 
}


#url-input {
    color:white;
}


#drop-down {
    color:white;
}

#top-text-box {
    color:white;
}

#bottom-text-box {
    color:white;
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc5xMiyrbMCu9yFZRyTCJjuMchkilEWPaWdA&s");
   
}
/* Add styles to create separation between div elements */

/* General styles for all div elements */

.top-text,
.bottom-text {
    position: absolute;
    width: 100%;
    text-align: right;
    color: white; 
}

.top-text {
    top: 10px;
    right: 600px;
    position: absolute;
}

.bottom-text {
    top: 400px;
    right: 600px;
    position: absolute;
}

#meme-placeholder {
    position: relative; /* Ensure absolute positioning of text is relative to this container */
}

#meme-placeholder img {
    float: right;
    width: 500px;
    height: 500px;
    padding-right: 450px;
    display: block;
}


#drop-down, #top-text-box {
    display: block;
    margin-bottom: 50px; /* Add space below each div */
    padding: 10px; /* Adds padding inside each div */
    width: 100%;
}

 #bottom-text-box {
    margin-bottom: 50px; /* Add space below each div */
    padding: 10px; /* Adds padding inside each div */
}

#meme-images {
    display: flex; /* align images */
    flex-wrap: wrap; /*  Wrap images in multiple rows */
    margin-top: 250px; /* move images lower */
}


#meme-images img {
    width: 321px; /* Set the width for each image */
    height: 283px; /* Set the height for each image */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    margin: 10px; /* Add margin around each image */
}

